- @result.each do |i|
  - unless i[1] == ""
    %div{:class=>"article"}
      - month, mday, year = i[0].split('/')
      %p{:style=>"color:black; float: right;"}= "#{year}Ç¯#{month}·î#{mday}Æü"
      %a{:href=>i[3], :style=>"text-decoration: none;"}
        %h2= i[1]
      %p{:style=>"color:black;"}= i[2]
      - unless i[4] == ""
        %img{:src=>i[4], :style=>"max-height:500px; max-width:500px;"}
